<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>détails du match</title>
</head>
<body>
    <%- include('user') %>
    <h2><%=match.team1%> - <%=match.team2%></h2>
    <h2>Pronostics:</h2>
    <h3>aucun pronostic pour l'instant</h3>
</body>
</html>