<div class="w100 flex">
    <img class="w25" src="/logo.jpg" alt="logo">
    <div class="w25">
        <span class="user"><h2><%=user.pseudo%> </h2></span><a href="/logout" class="logout">Se déconnecter</a>
    </div>
</div>